:root {
    --header-footer: #eceaf5;
}
@font-face {
    font-family: permanent-marker;
    src: url(/font/PermanentMarker-Regular.ttf);
}
* {
    box-sizing: border-box;
    font-family: permanent-marker;
}

html {
    color: rgb(150, 40, 40);
}
body {
    background-color: #e9f3c0;
    ;
    margin: 0;
    height: 100vh;
}
header img {
    height: 4vh;
    }
.flex {
    display: flex;
}
.background-img {
    position: absolute;
    max-width: 90vw;
    max-height: 60vh;
    top: 20vh;
    opacity: 10%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: -1;
}
.main-container, .game-container{
    flex-direction: column;
    align-items: center;
}
.main-container {
    height: 100vh;
    justify-content: center;
    font-size: 70px;
    text-align: center;
}
.game-container {
    height:50vh;
    justify-content: space-evenly;
    font-size: 18px;
}
.score-container {
    height: auto;
    width: 400px;
    justify-content: space-evenly;
    gap: 0 40px 0 40px;
}
.animation-container {
    height: 200px;
    width: 50vw;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
.game-info {
    padding: 10px;
    font-size: 26px;
    color: darkred;
}
.button-container {
    justify-content: space-between;
    opacity: 70%;
}
.button.paper, .button.scissors, .button.rock {
    height: 150px;
    width: 150px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px 0 20px;
    transition: 0.07s;
}
.clicked {
    transform: scale(0.9);
}
.score {
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 180px;
}
.header, .footer {
    position: absolute;
    height: 6vh;
    flex: 0;
    width: 100%;
    background-color: var(--header-footer);
}
.header {
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    font-size: 34px;
}
.header .icon {
    height: 4vh;

}
.footer {
    bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer * {
    margin: auto 0 auto 0;
    top: 0;
    bottom: 0;

    display: flex;
    font-size: 18px;
    text-align: center;
}
footer img {
    height: 3vh;
}